/* -------- RESET -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f3f3;
    color: #222;
}

/* -------- HEADER -------- */
header {
    padding: 15px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 20px;
}

header img {
    height: 50px;
}

header input[type="search"] {
    flex-grow: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.resultats {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 20px;
}

.resultats article {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.resultats img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 6px;
}

.resultats button {
    margin-top: 10px;
    padding: 6px 12px;
    border: none;
    background: #222;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* -------- LISTAS -------- */
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #222;
}
/* -------- FOOTER -------- */
footer {
    margin-top: 40px;
    padding: 20px;
    background: #fff;
    text-align: center;
    border-top: 1px solid #ddd;
}
