<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carret de compra</title>
    <link rel="stylesheet" href="../css/carret.css">
</head>

<body>
    <header>
        <img src="../assets/img/logo.png" alt="Logo">
        <input type="search" placeholder="Cerca...">
        <a href="./formulari.html">Iniciar sessió</a>
        <a href="./index.html">
        <img src="../assets/img/logo.png" alt="Logo JJ'S Sound Systems">
        </a>
    </header>

    <main>
        <h1>Carret de compra</h1>

        <section class="carret-llista">

            <article>
                <img src="../assets/img/prod1.jpg" alt="">
                <div>
                    <h3>Nom producte</h3>
                    <p>Preu: 49,99€</p>
                    <p>Quantitat: 1</p>
                </div>
            </article>

            <article>
                <img src="../assets/img/prod2.jpg" alt="">
                <div>
                    <h3>Nom producte</h3>
                    <p>Preu: 89,99€</p>
                    <p>Quantitat: 2</p>
                </div>
            </article>

        </section>

        <section class="total">
            <h2>Total: 229,97€</h2>
            <button>Finalitzar compra</button>
        </section>
    </main>

    <footer>
        <p>Sobre nosaltres · Contacte · Política de privacitat</p>
    </footer>

</body>
</html>
