<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultats de cerca</title>
    <link rel="stylesheet" href="../css/cerca.css">
</head>

<body>
    <header>
        <a href="../index.html">
        <img src="../assets/img/logo.png" alt="Logo">
        </a>
        <input type="search" placeholder="Cerca productes...">
        <div class="icons">
            <a href="./carret.html">🛒</a>
        </div>
    </header>

    <main>
        <h1>Resultats de la cerca</h1>

        <section class="resultats">

            <article>
                <img src="../assets/img/prod1.jpg" alt="">
                <h3>Producte trobat</h3>
                <p>Preu: 49,99€</p>
                <button>Afegir al carret</button>
            </article>

            <article>
                <img src="../assets/img/prod2.jpg" alt="">
                <h3>Producte trobat</h3>
                <p>Preu: 89,99€</p>
                <button>Afegir al carret</button>
            </article>

        </section>
    </main>

    <footer>
        <a href="./formulari.html">Sobre nosaltres ·</a> 
        <a href="./formulari.html">Contacte ·</a>
        <a href="./formulari.html">Política de privacitat</a>
    </footer>

</body>
</html>
