<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sessió</title>
    <link rel="stylesheet" href="../css/compte.css">
</head>

<body>

    <header>
       <a href="./index.html">
         <img src="../assets/img/logo.png" alt="Logo JJ'S Sound Systems">
        </a>
    </header>

    <main>
        <h1>Iniciar sessió</h1>

        <form>

            <label>Correu electrònic</label>
            <input type="email" required>

            <label>Contrasenya</label>
            <input type="password" required>

            <button type="submit">Entrar</button>

        </form>

        <p>No tens compte? <a href="./registre.html">Registra't</a></p>
    </main>

    <footer>
        <p>Sobre nosaltres · Contacte · Política de privacitat</p>
    </footer>

</body>
</html>
