<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sessió</title>
    <link rel="stylesheet" href="../css/compte.css">
</head>
<body>

    <header>
       <a href="./index.html">
         <img src="../assets/img/logo.png" alt="Logo JJ'S Sound Systems">
        </a>
    </header>

    <main>
        <h1>Iniciar sessió</h1> <br>

        <form id="loginForm">

            <label for="email">Correu electrònic</label>
            <input id="email" type="email" required>

            <label for="password">Contrasenya</label>
            <input id="password" type="password" required>

            <button type="submit">Entrar</button>

        </form>

        <p>No tens compte? <a href="./registre.html">Registra't</a></p>
    </main>

    <footer>
        <a href="">Sobre nosaltres ·</a> 
        <a href="">Contacte ·</a>
        <a href="">Política de privacitat</a>
    </footer>

        <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
        <script src="../js/firebase-config.js"></script>
        <script src="../js/account-menu.js"></script>
        <script src="../js/login.js"></script>

    </body>
    </html>
