<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pàgina principal - JJ'S Sound Systems</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<script src="../js/cerca.js"></script>
<body>
    <header>
        <a href="./index.html">
        <img src="../assets/img/logo.png" alt="Logo JJ'S Sound Systems">
        </a>

        <nav>
            <a href="./index.html">Inici</a>
        </nav>

        <input type="search" id="cerca" placeholder="Cerca...">

        <div class="icons">
            <a href="./carret.html">🛒</a>
            <a href="./formulari.html">👤</a>
        </div>
    </header>


    <main>
        <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
        <script src="../js/firebase-config.js"></script>
        <script src="../js/account-menu.js"></script>
        <section>
            <h2>Novetats</h2>
            <p>Nova taula de mescles JJ'S pro mix 9ch, per estudis reduit o amateur: </p>

            <div class="carrusel">
                <button>◀</button>
                <img src="../assets/img/mesamezcalas.jpg" alt="Novetat">
                <button>▶</button>
            </div>
        </section>

        <section>
            <h2>Productes destacats</h2>

            <div class="productes-grid">

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_45_00 PM.png" alt="Producte 1">
                    <h3>Toca Discs JJ'Sound Systems Pro 56sm</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 49,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_52_49 PM.png" alt="Producte 2">
                    <h3>Terjeta de so JJ'S Sound Systems 2ch. Sistem vital energy amateur</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 89,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/altavoces.jpg" alt="Producte 3">
                    <h3>Alataveus JJ'S Sound Systems Pro initiator Concerts vitality 789</h3>
                    <ul>
                        <li>Stock: esgotat</li>
                        <li>Preu: 129,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/shure-sm58-lce.jpg" alt="Producte 4">
                    <h3>Moicròfon shure 58sm</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 59,99€</li>
                    </ul>
                </article>

            </div>
        </section>
         <section>
            <h2>Productes destacats i merchandaissing</h2>

            <div class="productes-grid">

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_45_00 PM.png" alt="Producte 1">
                    <h3>Toca Discs JJ'Sound Systems Pro 56sm</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 49,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_52_49 PM.png" alt="Producte 2">
                    <h3>Terjeta de so JJ'S Sound Systems 2ch. Sistem vital energy amateur</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 89,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/altavoces.jpg" alt="Producte 3">
                    <h3>Alataveus JJ'S Sound Systems Pro initiator Concerts vitality 789</h3>
                    <ul>
                        <li>Stock: esgotat</li>
                        <li>Preu: 129,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/shure-sm58-lce.jpg" alt="Producte 4">
                    <h3>Micròfon Shure 58 s,</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 59,99€</li>
                    </ul>
                </article>

            </div>
        </section>
         <section>
            <h2>Productes destacats i merchandaissing</h2>

            <div class="productes-grid">

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_45_00 PM.png" alt="Producte 1">
                    <h3>Toca Discs JJ'Sound Systems Pro 56sm</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 49,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_52_49 PM.png" alt="Producte 2">
                    <h3>Terjeta de so JJ'S Sound Systems 2ch. Sistem vital energy amateur</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 89,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/altavoces.jpg" alt="Producte 3">
                    <h3>Alataveus JJ'S Sound Systems Pro initiator Concerts vitality 789</h3>
                    <ul>
                        <li>Stock: esgotat</li>
                        <li>Preu: 129,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/shure-sm58-lce.jpg" alt="Producte 4">
                    <h3>Micròfon Shure 58 s,</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 59,99€</li>
                    </ul>
                </article>

            </div>
        </section>
         <section>
            <h2>Productes destacats i merchandaissing</h2>

            <div class="productes-grid">

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_45_00 PM.png" alt="Producte 1">
                    <h3>Toca Discs JJ'Sound Systems Pro 56sm</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 49,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_52_49 PM.png" alt="Producte 2">
                    <h3>Terjeta de so JJ'S Sound Systems 2ch. Sistem vital energy amateur</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 89,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/altavoces.jpg" alt="Producte 3">
                    <h3>Alataveus JJ'S Sound Systems Pro initiator Concerts vitality 789</h3>
                    <ul>
                        <li>Stock: esgotat</li>
                        <li>Preu: 129,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/shure-sm58-lce.jpg" alt="Producte 4">
                    <h3>Micròfon Shure 58 s,</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 59,99€</li>
                    </ul>
                </article>

            </div>
        </section>
         <section>
            <h2>Productes destacats i merchandaissing</h2>

            <div class="productes-grid">

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_45_00 PM.png" alt="Producte 1">
                    <h3>Toca Discs JJ'Sound Systems Pro 56sm</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 49,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_52_49 PM.png" alt="Producte 2">
                    <h3>Terjeta de so JJ'S Sound Systems 2ch. Sistem vital energy amateur</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 89,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/altavoces.jpg" alt="Producte 3">
                    <h3>Alataveus JJ'S Sound Systems Pro initiator Concerts vitality 789</h3>
                    <ul>
                        <li>Stock: esgotat</li>
                        <li>Preu: 129,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/shure-sm58-lce.jpg" alt="Producte 4">
                    <h3>Micròfon Shure 58 s,</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 59,99€</li>
                    </ul>
                </article>

            </div>
        </section>
         <section>
            <h2>Productes destacats i merchandaissing</h2>

            <div class="productes-grid">

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_45_00 PM.png" alt="Producte 1">
                    <h3>Toca Discs JJ'Sound Systems Pro 56sm</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 49,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_52_49 PM.png" alt="Producte 2">
                    <h3>Terjeta de so JJ'S Sound Systems 2ch. Sistem vital energy amateur</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 89,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/altavoces.jpg" alt="Producte 3">
                    <h3>Alataveus JJ'S Sound Systems Pro initiator Concerts vitality 789</h3>
                    <ul>
                        <li>Stock: esgotat</li>
                        <li>Preu: 129,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/shure-sm58-lce.jpg" alt="Producte 4">
                    <h3>Micròfon Shure 58 s,</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 59,99€</li>
                    </ul>
                </article>

            </div>
        </section>
         <section>
            <h2>Productes destacats i merchandaissing</h2>

            <div class="productes-grid">

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_45_00 PM.png" alt="Producte 1">
                    <h3>Toca Discs JJ'Sound Systems Pro 56sm</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 49,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/ChatGPT Image Dec 2, 2025, 01_52_49 PM.png" alt="Producte 2">
                    <h3>Terjeta de so JJ'S Sound Systems 2ch. Sistem vital energy amateur</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 89,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/altavoces.jpg" alt="Producte 3">
                    <h3>Alataveus JJ'S Sound Systems Pro initiator Concerts vitality 789</h3>
                    <ul>
                        <li>Stock: esgotat</li>
                        <li>Preu: 129,99€</li>
                    </ul>
                </article>

                <article>
                    <img src="../assets/img/shure-sm58-lce.jpg" alt="Producte 4">
                    <h3>Micròfon Shure 58 s,</h3>
                    <ul>
                        <li>Stock: disponible</li>
                        <li>Preu: 59,99€</li>
                    </ul>
                </article>

            </div>
        </section>


    </main>

    <footer>
        <a href="">Sobre nosaltres ·</a> 
        <a href="">Contacte ·</a>
        <a href="">Política de privacitat</a>
    </footer>
</body>
</html>
